body {
  margin: 0;
  padding: 20px;
  background-image: url("..//img/fon.png");
  background-size: 10%;


}

h1 {
  font-family: 'fantasy', sans-serif;
  font-weight: bold;
  font-style: oblique;  
  color: #ff0000;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h2 {font-family: 'fantasy', sans-serif;
  font-weight: bold;  
  color: #38ea21; /* Цвет текста */
  -webkit-text-stroke: 1px #000000;
  /* color: #10da5a;
  text-shadow: 2px 2px 4px rgba(9, 10, 10, 0.5); */

}

.container {
  max-width: 150px;
  margin: auto;
  text-align: center;
}

.card {
  background: #fff;
  border-radius: 10px;
  margin: 20px 0;
  padding: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.back {
  background: #fff;
  border-radius: 100px;
  margin: 20px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

img {
  width: 100%;
  border-radius: 10px;
}

button {
  margin-top: 4px;
  padding: 5px 20px;
  border: none;
  background: #12b443;
  color: #f0d804;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

button2 {
  margin-top: 10px;
  padding: 5px 20px;
  border: none;
  background: #12b443;
  color: #f0d804;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}
